<p>
	<b>Title:</b>
	<%= @map.title %>
</p>
<p>
	<b>Description:</b>
	<%= @map.description %>
</p>
<p>
	<b>House or Plot No.:</b>
	<%= @map.address_number %>
</p>
<p>
	<b>Street:</b>
	<%= @map.street %>
</p>
<p>
	<b>Area:</b>
	<%= @map.area %>
</p>
<p>
	<b>Longitude:</b>
	<%= @map.longitude %>
</p>
<p>
	<b>Latitude:</b>
	<%= @map.latitude %>
</p>
<br />
<p><a href="/list">Back to listings</a></p>
